---
import MainLayout from "../layouts/MainLayout.astro";

const title = "404 | Page not found";
export const prerender = true;
---

<MainLayout title={title}>
  <main class="full-height flex items-center justify-center">
    <h1>
      <span class="text-xl font-bold">404 |</span>
       Page not found
    </h1>
  </main>
</MainLayout>
<style>
  :root {
  }
  .full-height {
    height: calc(100vh - 350px);
  }
</style>
