---
import { Icons } from "@/components/Icons";
import Link from "@/components/Link";
import Text from "@/components/Text";

import MainLayout from "../layouts/MainLayout.astro";

const title = "viktor • home";
---

<MainLayout title={title}>
  <Text level="h1">
    Hi 👋, <br class="block sm:hidden" /> I'm Viktor Malmedal
  </Text>
  <div class="flex flex-col gap-y-8">
    <Text>Passionate full stack engineer from the north</Text>
    <div class="border-b border-b-foreground/20 w-1/2"></div>
    <Text>
      I’m specialized in <b>web development</b>, and enjoy exploring the latest
      frameworks <i>(before they become legacy)</i> to build <b
        >seamless digital solutions</b
      >. My journey has been <b>diverse</b>, having worked with large
      corporations like
      <Link href="https://cygni.se/" children="Cygni" />
       and <Link href="https://schibsted.com/" children="Schibsted" /> and agile
      startups like <Link href="https://en.coeo.events/" children="Coeo" />.
      This <b>varied experience</b> has broadened my <b>knowledge</b>, enabling
      me to <b>adapt and thrive in any environment</b>.
    </Text>
    <div class="w-full gap-4 flex flex-col sm:flex-row justify-center">
      <a
        target="_blank"
        rel="noopener noreferrer"
        class="opacity-70 hover:opacity-100 w-full gap-8 inline-flex rounded-md justify-between p-4 bg-foreground/5 transition-all hover:translate-x-1"
        href="https://www.linkedin.com/in/viktor-malmedal"
      >
        <div class="flex gap-x-8">
          <Icons.linkedIn />
           View profile
        </div>
        <Icons.arrowUpRight />
      </a>
      <a
        target="_blank"
        rel="noopener noreferrer"
        class="opacity-70 hover:opacity-100 w-full gap-8 inline-flex rounded-md justify-between p-4 bg-foreground/5 transition-all hover:translate-x-1"
        href="mailto:viktor@malmedal.dev"
      >
        <div class="flex gap-x-8">
          <Icons.mail />
           Mail me
        </div>
        <Icons.arrowUpRight />
      </a>
    </div>
    <Text>
      When I'm not <b>coding</b> you'll find me embracing an <b
        >active lifestyle</b
      > as a competitive <b>powerlifter</b>, struggling <b>disc golfer</b>,
      retired <b>action sports</b>
       enthusiast and <b>avid gamer</b>.
    </Text>
    <div class="border-b border-b-foreground/20 w-1/2"></div>
    <Text className="italic">
      <span class="font-bold not-italic">tl;dr</span> I like to create cool
      stuff
    </Text>
  </div>
</MainLayout>
