---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout disableNav href="/404" title="Viktor M">
	<main class="full-height flex items-center justify-center">
		<div class="flex gap-2 items-center">
			<h1 class="text-xl text-neutral-200 font-bold">503</h1>
			<h1 class="text-xl text-neutral-200 font-bold">|</h1>
			<h1>Under maintenence 🚧</h1>
		</div>
	</main>
</MainLayout>
<style>
	:root {
	}
	.full-height {
		height: calc(100vh - 150px);
	}
</style>
