---
import Text from "@/components/Text";

import MainLayout from "../layouts/MainLayout.astro";

const title = "viktor • home";
---

<MainLayout title={title}>
  <Text level="h1">Hi 👋, I'm Viktor Malmedal</Text>
  <div class="leading-7">
    <div class="pt-1"></div>
    <p>
      passionate full stack engineer with a focus on creating captivating user
      experiences.
    </p>
    <div class="my-4 border-b border-b-foreground/20 w-1/2"></div>
     i’m a fullstack engineer specialized in web development, regularly
    exploring the latest frameworks to build seamless digital solutions. my
    journey has been diverse, having worked with large corporations like cygni
    and schibsted and agile startups like coeo. this varied experience has
    broadened my knowledge, enabling me to adapt and thrive in any environment.<br
    /><br />
     when i'm not coding you'll find me embracing an active lifestyle as a
    competitive powerlifter, struggling disc golfer, retired action sports
    enthusiast and avid gamer.

    <div class="my-4 border-b border-b-foreground/20 w-1/2"></div>
    <p class="italic">
      <span class="font-bold not-italic">tl;dr</span> i like to create cool
      stuff
    </p>
  </div>
</MainLayout>
