---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout href="/" title="Viktor M">
  <main>
    <h1 class="text-xl font-bold">
      Hi 👋, I'm Viktor Malmedal
    </h1>
    <div class="leading-7">
      <div class="pt-1"></div>
      <p
      
      >
      Passionate full stack engineer with a focus on
      creating captivating user experiences.
      </p>
        <div class="my-4 border-b border-neutral-600 w-1/2"></div>
       I’m a fullstack
      engineer specialized in web development, regularly exploring the latest
      frameworks to build seamless digital solutions. My journey has been
      diverse, having worked with large corporations like Cygni and Schibsted
      and agile startups like Coeo. This varied experience has broadened my
      knowledge, enabling me to adapt and thrive in any environment.<br /><br />
       When I'm not coding you'll find me embracing an active lifestyle as a
      competitive powerlifter, struggling disc golfer, retired action sports
      enthusiast and avid gamer.

      <div class="my-4 border-b border-neutral-600 w-1/2"></div>
      <p class="italic">
        <span class="font-bold not-italic">TL;DR</span> I like to create cool
        stuff
      </p>
    </div>
  </main>
</MainLayout>
