---
import { LinkedInIcon } from "@/icons/LinkedInIcon";

import { GithubIcon } from "../icons/GithubIcon";
import { HomeIcon } from "../icons/HomeIcon";
import { MailIcon } from "../icons/MailIcon";
import { RocketIcon } from "../icons/RocketIcon";
import NavItem from "./NavItem.astro";
import { ToggleColorTheme } from "./ToggleColorTheme";

const { pathname } = Astro.url;
---

<div class="w-full py-4 px-4">
  <div
    class="items-center border-t py-8 border-t-foreground/20 max-w-screen-md mx-auto flex justify-between"
  >
    <p>Viktor Malmedal</p>
    <div class="flex gap-x-4">
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="mailto:viktor@malmedal.dev"
        class="group relative opacity-50 hover:opacity-100"
      >
        <MailIcon />
        <span class="sr-only">Mail</span>
        <span
          class="absolute -bottom-2 block w-0 group-hover:w-full transition-all duration-500 h-px bg-foreground"
        ></span>
      </a>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/johnvicke"
        class="group relative opacity-50 hover:opacity-100"
      >
        <GithubIcon />
        <span class="sr-only">Github</span>
        <span
          class="absolute -bottom-2 block w-0 group-hover:w-full transition-all duration-500 h-px bg-foreground"
        ></span>
      </a>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.linkedin.com/in/viktor-malmedal"
        class="group relative opacity-50 hover:opacity-100"
      >
        <span class="sr-only">LinkedIn</span>
        <LinkedInIcon />
        <span
          class="absolute -bottom-2 block w-0 group-hover:w-full transition-all duration-500 h-px bg-foreground"
        ></span>
      </a>
    </div>
  </div>
</div>
