---
import { LinkedInIcon } from "@/icons/LinkedInIcon";

import { GithubIcon } from "../icons/GithubIcon";
import { HomeIcon } from "../icons/HomeIcon";
import { RocketIcon } from "../icons/RocketIcon";
import NavItem from "./NavItem.astro";
import { ToggleColorTheme } from "./ToggleColorTheme";

const { pathname } = Astro.url;
---

<div class="fixed top-0 backdrop-blur-md w-full py-2 flex justify-center">
  <div
    class="px-4 w-full max-w-screen-md m-auto flex items-center justify-between"
  >
    <nav class="flex gap-x-8">
      <NavItem href="/" active={pathname === "/"}>
        <HomeIcon />
         Home
      </NavItem>
      <NavItem href="/projects" active={pathname === "/projects"}>
        <RocketIcon />
         Projects
      </NavItem>
    </nav>
    <ToggleColorTheme client:only="react" />
  </div>
</div>
