---
import { getCollection } from "astro:content";
import MainLayout from "@/layouts/MainLayout.astro";
import ProjectPreview from "@/components/ProjectPreview.astro";
import Text from "@/components/Text";

const projects = await getCollection("project");
export const prerender = true;

const title = "viktor • projects";
---

<MainLayout title={title}>
  <Text level="h1">Recent Projects</Text>
  <div class="flex flex-col gap-4">
    {projects.map(({ data }) => <ProjectPreview project={data} />)}
  </div>
</MainLayout>
